*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{
  box-sizing: 800px border-box 30px 40px;
  color: white;
}

.card{
  background-color:rgba(105, 102, 100, 0.932) 0px 2px 8px 0px;
  color: hsl(207, 12%, 51%);; 
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(105, 102, 100, 0.932) 0px 2px 8px 0px;
  color: hsl(207, 12%, 51%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 50px 40px;
  font-family: 'Nova Square', cursive;
  color: rgba(19, 8, 3, 0.932) 0px 2px 8px 0px; 

}
#second{
  color: rgb(70, 70, 71)
}
#choices:hover {

}
#counter {
  color:rgb(30, 7, 66)
 
}
#question{
  color: white;
}
.card-header{
  background-color:  rgba(184, 143, 211, 0.842);
  color: white

}
.card-body{
  background-color: rgba(220, 203, 231, 0.842);

}
.card-footer{
  background-color:  rgba(184, 143, 211, 0.842);
}

.btn-primary{
  
  background-color:rgba(116, 101, 126, 0.842);
  
}
.btn-primary:hover{
  
  background-color:rgba(43, 20, 58, 0.842);
  box-shadow: rgba(105, 102, 100, 0.932) 0px 2px 8px 0px;

  
} 